  *{
	margin: 0px;
	padding: 0px;
	color: white;
	box-sizing: border-box;
}

/*--------------NAV-----------------*/
/*pading del nav*/
nav{
	padding-bottom: 1em;
}

li span{
	color: black;
}
/*FONDO PRINCIPAL*/

.container-principal{
	max-width: 100%;
	height: 100vh;
	background-image: url(../assets/images/taxi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
  	background-position: bottom; /*me posiciona la imagen en el bottom*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
	}

/*posicionar el menu hamburgueza*/
.display-menu-principal{
	display: flex;
	justify-content: space-around;

}

/*CAJITA FLOTANT*/
.cajita-flotante-movil{
	background-color: #F6AE02;
	padding-bottom: 20px;
	/*outline: 1px solid red;*/

	width: 90%;

}

.cajita-flotante h1{
	color: white;
	/*font-weight: bold;*/
	font-size: 2em;
}

.cajita-flotante img{  
	max-width: 100%;
	width: 80px;
	height: auto;
}
button{
	padding: 0px;
	margin: 20px;
}

 h1, h3{
	font-size: 2em;
}

p{
	font-size: 1.5em;
}

/*--CONTENEDOR GRANDE*/
.color-mostaza, .jumbotron-app{
	background-color:#F6AE02;

}
/*1mer div que cubre la imagen en un mobile*/
.items-app{
	display: table;
	border: 1px solid white;
	margin: 20px;
	padding: 5px;

}
.app{
	padding: 10px;
	text-align: center;
}

/*----------tarifa----*/
/*.tarifa{
	padding-bottom: 20px;
}*/
.botontarifa{
	/*outline:  1px solid red;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 20px;
	/*display: inline-block;*/
}

.input{
	margin-left: 10px;
	border: 1px solid white;
	outline: none;
	color: white;
	background-color: #F6AE02;
}

button{
	font-weight: bold;  
	/*margin: 20px;*/
}


/*-----------------section-image-------------*/
.section-image{
	background-image: url(../assets/images/conduce.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left bottom;
	max-width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}




/*-------------------------------*/
input{
	width: 70%;
}
footer{
	background-color: black;
}
.logoblanco{
	padding: 10px;
	border-bottom: 2px solid white;
}
.footer{
	padding: 50px;
	display: flex; 
	justify-content: space-around;
	/*outline: 1px solid blue;*/
	background-color: black;
	color: white;
}

.footer-movil{
	display: flex;
	justify-content: space-around;
}
.link-footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*outline: 1px solid red;*/
}
.link-footer span{
	padding: 10px;
}

.link-footer  img{
	/*width: 30%;*/
	margin: 10px;
	/*outline: 1px solid red;*/
}
.span-footer{
	padding: 10px;
	border-top: 2px solid white;
}


--------------------------------------
@media screen and (min-width: 768px){
	.cajita-flotante-desktop{
		background-color: #F6AE02;
		padding-bottom: 20px;
		width: 40%;
		display: flex;
		justify-content: center;
		  }

/*contenedor de la primera section*/
	.items-app{
		max-width: 80%;
		background-color: #F6AE02;
		border: 1px solid white;
		display: flex;
		justify-content: space-between;
		margin-left: 0px;
		/*outline: 1px solid blue;*/

	}
	
}
