<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>registrate</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>	
	<div class="modal fade" id="ventana1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content ">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<p class="text-center text-muted">O CREA UNA CUENTA NUEVA</p>
				</div>
				<div class="modal-body color-fuente">
					<p>Usted podrá realizar sus pagos tanto de Afiliación como de pago de mensualidad o renovación de cualquiera de los planes que le ofrecemos</p>
    				<p>Luego de Realizado el pago, por favor notifiquelo al e-mail <b>pagos@xxxxx.com</b> Indicando Sus datos, luego se le enviará un E-mail con el enlace para que continue su registro.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>					
			</div> <!--modal content-->
		</div> <!--modal dialog-->
	</div> <!--modal fade-->